<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-brand">
                    <div class="logo mb-3">
                        <span class="logo-food">FOOD</span>
                        <span class="logo-xchange">XCHANGE</span>
                    </div>
                    <p>The Operating System for Global Food Trade</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <h5>Platform</h5>
                <ul class="footer-links">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">API</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>Solutions</h5>
                <ul class="footer-links">
                    <li><a href="#">For Buyers</a></li>
                    <li><a href="#">For Suppliers</a></li>
                    <li><a href="#">For Brokers</a></li>
                    <li><a href="#">Enterprise</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>Company</h5>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>Contact</h5>
                <ul class="footer-contact">
                    <li><i class="fas fa-envelope"></i> info@fdx.trading</li>
                    <li><i class="fas fa-phone"></i> +972-52-5222291</li>
                    <li><i class="fas fa-map-marker-alt"></i> Tel Aviv, Israel</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright">© 2024 FoodXchange. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
            </div>
        </div>
    </div>
</footer>