<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="not-found-container">
                <h1>Sorry, there's nothing at this address.</h1>
                <p><a href="/">Return to Home</a></p>
            </div>
        </LayoutView>
    </NotFound>
</Router>